{
    "openapi":"3.0.0",
    "info":{
       "description":"",
       "version":"1.0",
       "title":"RingCentral Engage Voice API",
       "termsOfService":"https://developers.ringcentral.com"
    },
    "tags":[
       {
          "name":"Leads"
       }
    ],
    "paths":{
       "/admin/accounts/{accountId}/campaigns/{campaignId}/leadLoader/direct":{
          "post":{
             "tags":[
                "Leads"
             ],
             "summary":"Upload Leads",
             "description":"Uploads a single lead or list of leads to a new or existing list",
             "operationId":"uploadLeads",
             "parameters":[
                {
                   "name":"accountId",
                   "in":"path",
                   "required":true,
                   "schema":{
                      "type":"string"
                   }
                },
                {
                   "name":"campaignId",
                   "in":"path",
                   "required":true,
                   "schema":{
                      "type":"string"
                   }
                }
             ],
             "requestBody":{
               "required":true,
               "content": {
                  "application/json":{
                     "schema": {
                        "$ref": "#/components/schemas/UploadLeadsRequest"
                     }
                  }
               }
             },
             "responses":{
                "200":{
                   "description":"Success",
                   "content":{
                      "application/json":{
                         "schema":{
                            "type":"array",
                            "items":{
                               "$ref":"#/components/schemas/Lead"
                            }
                         }
                      }
                   }
                }
             }
          }
       }
    },
    "servers":[
       {
          "url":"https://portal.vacd.biz/api/v1"
       }
    ],
    "components":{
       "securitySchemes":{
          "bearerAuth":{
             "type":"http",
             "scheme":"bearer"
          }
       },
       "schemas":{
          "Lead":{
             "required":[
"externId"
             ],
             "properties":{
                "leadPhone":{
                   "type":"string",
                   "description":                   "multiple values can be submitted with a pipe delimiter between phone numbers"
                },
                "externId":{
                   "type":"integer",
                   "format":"int64"
                },
                "title":{
                   "type":"string"
                },
                "firstName":{
                   "type":"string"
                },
                "midName":{
                   "type":"string"
                },
                "lastName":{
                   "type":"string"
                },
                "suffix":{
                   "type":"string"
                },
                "address1":{
                   "type":"string"
                },
                "address2":{
                   "type":"string"
                },
                "city":{
                   "type":"string"
                },
                "state":{
                   "type":"string"
                },
                "zip":{
                   "type":"string"
                },
                "email":{
                   "type":"string"
                },
                "gateKeeper":{
                   "type":"string"
                },
                "auxData1":{
               
                         "type":"string"
                   
                },
                "auxData2":{
              
                         "type":"string"
                   
                },
                "auxData3":{
          
                         "type":"string"
                    
                },
                "auxData4":{
              
                         "type":"string"
       
                },
                "auxData5":{

                         "type":"string"

                },
                "auxPhone":{
                   "type":"string"
                },
                "extendedLeadData":{
                  "$ref":"#/components/schemas/ExtendedLeadData"
                }
             }
          },
          "ExtendedLeadData":{
             "properties":{
                "important":{
                   "type":"string"
                },
                "interested":{
                   "type":"boolean"
                }
             }
          },
          "UploadLeadsRequest":{
             "properties":{
                "listState":{
                   "type":"string",
                   "enum":[
                      "ACTIVE"
                   ]
                },
                "duplicateHandling":{
                   "type":"string",
                   "enum":[
                      "RETAIN_ALL",
                      "REMOVE_ALL_EXISTING",
                      "REMOVE_FROM_LIST"
                   ]
                },
                "timeZoneOption":{
                   "type":"string",
                   "enum":[
                      "NPA_NXX",
                      "ZIPCODE",
                      "EXPLICIT"
                   ]
                },
                "description":{
                   "type":"string"
                },
                "dialPriority":{
                   "type":"string",
                   "enum":[
                      "IMMEDIATE"
                   ],
                   "description":"Setting this to `IMMEDIATE` allows you to insert a lead to the top of the dialer cache for immediate dialing if you want a normal insert then do not add this parameter."
                },
                "uploadLeads":{
                   "type":"array",
                   "items":{
                      "$ref":"#/components/schemas/Lead"
                   }
                }
             }
          }
       }
    }
 }