{
    "openapi":"3.0.0",
    "info":{
       "description":"",
       "version":"1.0",
       "title":"RingCentral Engage Voice API",
       "termsOfService":"https://developers.ringcentral.com"
    },
    "tags":[
       {
          "name":"Campaigns"
       }
    ],
    "paths":{
       "/admin/accounts/{accountId}/dialGroups/{dialGroupId}/campaigns":{
          "get":{
             "tags":[
                "Campaigns"
             ],
             "summary":"Returns a listing of campaigns for a dial group",
             "operationId":"getDialGroupCampaigns",
             "parameters":[
                {
                   "name":"accountId",
                   "in":"path",
                   "required":true,
                   "schema":{
                      "type":"string"
                   }
                },
                {
                   "name":"dialGroupId",
                   "in":"path",
                   "required":true,
                   "schema":{
                      "type":"string"
                   }
                }
             ],
             "responses":{
                "200":{
                   "description":"Success",
                   "content":{
                      "application/json":{
                         "schema":{
                            "type":"array",
                            "items":{
                               "$ref":"#/components/schemas/Campaign"
                            }
                         }
                      }
                   }
                }
             }
          }
       }
    },
    "servers":[
       {
          "url":"https://portal.vacd.biz/api/v1"
       }
    ],
    "components":{
       "securitySchemes":{
          "bearerAuth":{
             "type":"http",
             "scheme":"bearer"
          }
       },
       "schemas":{
          "ReferenceObject":{
             "properties":{
                "id":{
                   "type":"integer",
                   "format":"int64"
                },
                "description":{
                   "type":"string"
                }
             }
          },
          "Campaign":{
             "properties":{
                "campaignId":{
                   "type":"integer",
                   "format":"int64"
                },
                "permissions":{
                   "type":"array",
                   "items":{
                      "type":"object"
                   }
                },
                "campaignName":{
                   "type":"string"
                },
                "campaignDesc":{
                   "type":"string"
                },
                "isActive":{
                   "type":"integer",
                   "format":"int64"
                },
                "dialGroup":{
                   "$ref":"#/components/schemas/ReferenceObject"
                },
                "script":{
                   "$ref":"#/components/schemas/ReferenceObject"
                }
             }
          }
       }
    }
 }